appdirs==1.4.3
asgiref==3.3.1
buildozer==0.39
camera==1.3.0
cast==0.1.1
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
cv==1.0.0
cycler==0.10.0
Cython==0.29.13
decorator==4.4.2
distlib==0.3.1
Django==3.1.3
django-filter==2.4.0
django-phone-field==1.8.1
django-phonenumber-field==5.0.0
djangorestframework==3.12.2
docopt==0.6.2
docutils==0.15.2
filelock==3.0.12
idna==2.8
imageio==2.9.0
importlib-metadata==0.19
imutils==0.5.3
Jinja2==2.10.1
jnius==1.1.0
Kivy==1.11.1
kivy-deps.angle==0.2.0
kivy-deps.glew==0.2.0
kivy-deps.gstreamer==0.2.0
kivy-deps.sdl2==0.2.0
Kivy-Garden==0.1.4
kivy-garden.graph==0.4.0
kivy-garden.kivymd==2019.910
kivy-garden.xcamera==2020.613
kivymd==0.104.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.1
networkx==2.5
numpy==1.19.1
opencv-contrib-python==4.4.0.42
opencv-contrib-python-headless==4.4.0.42
opencv-python==4.1.2.30
pbs==0.110
pep517==0.6.0
pexpect==4.7.0
phonenumbers==8.12.15
Pillow==6.2.0
plyer==1.4.3
psycopg2==2.8.6
ptyprocess==0.6.0
Pygments==2.4.2
pyjnius==1.3.0
pyparsing==2.4.7
pytesseract==0.3.6
python-dateutil==2.8.1
python-for-android==2020.6.2
pytoml==0.1.21
pytz==2020.4
PyWavelets==1.1.1
requests==2.22.0
scikit-image==0.17.2
scipy==1.5.2
sh==1.12.14
six==1.12.0
sqlparse==0.4.1
tifffile==2020.9.3
toml==0.10.1
urllib3==1.25.3
virtualenv==16.7.3
virtualenvwrapper-win==1.2.6
zipp==0.5.2
