{%extends 'basic.html'%}
{%load static%}
{%block body%}
    <style>

        .c-phone{
            text-decoration: none;
            color: white;
            text-emphasis: none;
            color:rgb(228, 5, 79) ;;
            font-size: 25px;
            margin-bottom: 0px;
        }
        .content1{
            position: absolute;
            top: 70%;
            z-index: 1 ;
        }
        .contact, .contact:hover{
            text-emphasis: none;
            text-decoration: none;
        color: rgb(255, 196, 0);
        }

    </style>
<body>
    <section class="showcase">
        <div class="video-container">
            <img src="{%static '/images/deeplearning.jpg'%}" id="banner" width="100%" height="" alt="">
       
        </div>

        <div class="content">
            <h1 style="font-size:7vh">Tech Driven Basic</h1>
            <p><a href="tel:08046481862" class="contact content">080-46481862</a></p>
        </div>
            <div class="container content1 ">
                
                <div class="row ">
                    <div class="col-md-6 my-3">
                        <p class="c-phone">For Media Queriess</p>
                        <a class="contact"  href="mailto:communications@blackbuck.com">communications@blackbuck.com</a>
                    </div>
                    <div class="col-md-6 my-3">
                        <p class="c-phone ">For Media Queriess</p>
                        <a class="contact" href="mailto:communications@blackbuck.com">communications@blackbuck.com</a>
                    </div>
                </div>
                
        
            </div>
    </section>
    <section class="container" style="padding-top: 30px; padding-bottom:30px" >
        <div  class="row">
            <div class="col-md-5 my-3">
                <p class="c-phone">Indore Office
                </p>
                <p class="content">615, Apollo Premier, Vijay Nagar Sqaure, Indore, Madhya pradesh, India, 452001</p>
                  <a href="https://goo.gl/maps/M2gCncbT3Va9Z2226" target="_blank" class="content"><i class="fa fa-map-marker-alt fa-lg"></i>  Get directions</a>
            </div>
            <div class="col-md-5 my-3">
                <p class="c-phone">Hyderabad-Address</p>
                <p class="content">2nd Floor, Adviti NIvas PLOT - 26, near RTO Office, Chandragiri Colony, Trimulgherry, Secunderabad, Telangana 500015</p>
                    <a href="https://goo.gl/maps/M2gCncbT3Va9Z2226" target="_blank" class="content"><i class="fas fa-map-marker-alt fa-lg"></i>  Get directions</a>
            </div>

        </div>
    </section>
</body>
{%endblock body%}