{%extends 'basic.html'%}
{%load static%}
{%block body%}
<style>
.video-container:after {
            content: '';
            z-index: 1;
            height: 100vh;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            clip-path:polygon(0% 0%,100% 0%,100% 100%,0% 100%)
        }
         .content{
            animation: none;
             padding-top:10px;
            font-size: 18px;
            font-weight:300;
            z-index: 2;
        }
        .indexfoot{
       /* position:absolute;

            bottom: 0;
            left: 0;
            right: 0;
            padding-top: 10px;
            z-index:7;
            font-size:14px;

        }*/
        #videobtn{
            animation:1.5s ease-out 0s 1 slideInFromLeft;
        }
        .foot{
            display:none;
        }


</style>
<section class="showcase">
    <div class="video-container">
        <video autoplay muted loop width="100%">
            <source src="{% static '/images/video_camsec.mp4' %}" type="video/mp4">
        </video>

    </div>

    <div class="content">
        <h1 style="font-size:7vh">Tech Driven Basic</h1>
        <!--             <a class="btn btn-large btn-info" href="templates/home.html">Browse</a>-->
        <button id="videobtn" class="btn btn-outline-warning" onclick="window.open('{% url 'company'%}','_self');">
            DISCOVER TDB
        </button>

    </div>


</section>
{%endblock body %}