{%extends 'basic.html'%}
{%load static%}
{%block body%}


<body>
    
    <section class="showcase">
        <div class="video-container">
            <img src="{% static '/images/products.jpg'%}" id="banner" width="100%" height="" alt="">
       
        </div>

        <div class="content">
            <h1 style="font-size:7vh">Tech Driven Basic</h1>
        </div>
    </section>
    <div style="">
        <p class="content container">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum libero nesciunt voluptate animi quasi quisquam itaque, eaque dicta incidunt earum impedit ea eveniet quia Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, illum? Ex, sunt error harum laborum voluptas, illo eligendi omnis ad nesciunt veritatis unde quis accusantium dolorum culpa quae temporibus enim. molestias cumque, vel nisi deserunt.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laborum nobis aperiam quae, quas quia earum quisquam quo aliquid mollitia culpa sunt qui ipsa corrupti velit ipsum et necessitatibus eveniet!
        </p>
       
    </div>

    <section  class="container ">
        <hr>
        <div class="row">
            <div class="col-md-6 ">
                <h1>
                    CORE<span style="color:rgb(228, 5, 79) ;">METRIC</span>
                </h1>
                <br>
                <p style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio impedit veniam facere sit odit. Adipisci, expedita itaque earum quasi molestias pariatur, maiores recusandae officiis accusamus repellat corporis, dolorum assumenda amet. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis accusamus molestias similique nulla, adipisci quis, vitae magnam sint temporibus consequuntur et odit dolore sequi saepe voluptatibus, eum nesciunt quas voluptate!</p>
                <button class="btn btn-outline-warning">KNOW MORE</button>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="{% static '/images/coremetric.jpg'%}" alt="" style="width:100%">
            </div>
        </div>
        <hr>
        <div class="row " style="background-color: rgb(236, 236, 236); padding:20px 0px;">
            <div class="col-md-6">
                <img class="img-fluid" src="{%static '/images/camsec.jpg'%}" alt="" style="width:100%;" >
            </div>
            <div class="col-md-6">
                <h1>
                    CAM<span style="color:rgb(228, 5, 79) ;">SEC</span>
                </h1>
                <br>
                <p style="font-size: 16px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio impedit veniam facere sit odit. Adipisci, expedita itaque earum quasi molestias pariatur, maiores recusandae officiis accusamus repellat corporis, dolorum assumenda amet. <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis accusamus molestias similique nulla, adipisci quis, vitae magnam sint temporibus consequuntur et odit dolore sequi saepe voluptatibus, eum nesciunt quas voluptate!</p>
                <button class="btn btn-outline-warning">KNOW MORE</button>
            </div>
        </div>
    </section>
</body>
{%endblock body%}