{%extends 'basic.html'%}
{% load static %}
{% static 'images' as baseUrl %}
  {%block body%}
  <style>


    div.gallery {
      margin: 1px;
      border: 1px solid #ccc;
      float: left;
      width: 250px;
      height:250px;
      position: relative;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: 100%;
    }

    .image {
      display: block;
      width: 100%;
      height: auto;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background: rgba(0, 0, 0, 0.5);
    }

    .gallery:hover .overlay {
      opacity: 0.8;
    }

    .text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;

      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      font-weight:600;
    }
  </style>
<body>
  <section class="showcase">
    <div class="video-container">
      <img src="{%static '/images/team.jpg'%}" id="banner" width="100%" height="" alt="">

    </div>

    <div class="content">
      <h1 style="font-size:7vh">Tech Driven Basic</h1>
    </div>

  </section>
  <div class="container" >
    <p class="content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dolorum libero nesciunt voluptate animi quasi
      quisquam itaque, eaque dicta incidunt earum impedit ea eveniet quia Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Minus, illum? Ex, sunt error harum laborum voluptas, illo eligendi omnis ad nesciunt
      veritatis unde quis accusantium dolorum culpa quae temporibus enim. molestias cumque, vel nisi deserunt.
      <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat laborum nobis aperiam quae, quas quia earum
      quisquam quo aliquid mollitia culpa sunt qui ipsa corrupti velit ipsum et necessitatibus eveniet!
    </p>
<hr>
  </div>
  <section class="container">
    <h1 class="text-center heading my-5">Advisory Board</h1>
    <div class="row justify-content-center" style="height:500">
      {% for data in teamData%}
      {% if data.inAdvisoryBoard == 1 %}
      <div class="gallery p-2 border">
        <img src="{{data.image.url}}" alt="Cinque Terre" width="150" height="150" class="image">
        <div class="overlay">
          <div class="text">
            <h5>{{data.name}}</h5>
            <p style="font-size:10px">{{data.designation}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div><hr>
       <h1 class="text-center heading my-5">C-Level</h1>
    <div class="row justify-content-center" style="height:500">
      {% for data in teamData%}
      {% if data.in_C_Level == 1 %}
      <div class="gallery p-2 border">
        <img src="{{data.image.url}}" alt="Cinque Terre" width="150" height="150" class="image">
        <div class="overlay">
          <div class="text">
            <h5 >{{data.name}}</h5>
            <p style="font-size:10px">{{data.designation}}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>

  </section>

</body>
{%endblock body%}